### Student Information
Name:周立淳

Student ID:102062106

---

### Instructions

- Download the dataset provided in this [link](https://archive.ics.uci.edu/ml/datasets/Sentiment+Labelled+Sentences#). The sentiment dataset contains a `sentence` and `score` label. Read what the dataset is about on the link provided before you start exploring it. 


- Then, you are asked to apply each of the data exploration and data operation techniques learned in the [first lab session](https://goo.gl/Sg4FS1) on the new dataset. You don't need to explain all the procedures as we did in the notebook, but you are expected to provide some **minimal comments** explaining your code. You are also expected to use the same libraries used in the first lab session. You are allowed to use and modify the `helper` functions we provided in the first lab session or create your own. Also, be aware that the helper functions may need modification as you are dealing with a completely different dataset. This part is worth 80% of your grade!


- After you have completed the operations, you should attempt the **bonus exercises** provided in the [notebook](https://goo.gl/Sg4FS1) we used for the first lab session. There are six (6) additional exercises; attempt them all, as it is part of your grade (10%). 


- You are also expected to tidy up your notebook and attempt new data operations that you have learned so far in the Data Mining course. Surprise us! This segment is worth 10% of your grade.


- After completing all the above tasks, you are free to remove this header block and submit your assignment following the guide provided in the `README.md` file of the assignment's [repository](https://github.com/omarsar/data_mining_hw_1).

In [70]:
import pandas as pd
import numpy as np
import nltk
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
import plotly.plotly as py
import plotly.graph_objs as go
import math
%matplotlib inline

import re
# my functions
import helpers.data_mining_helpers as dmh
import helpers.text_analysis as ta

In [71]:
# categories
categories = ['1', '0']

In [72]:
file1 = open("sentiment labelled sentences/sentiment labelled sentences/imdb_labelled.txt", "r", encoding = 'utf8')
imdb = file1.readlines()
file2 = open("sentiment labelled sentences/sentiment labelled sentences/amazon_cells_labelled.txt", "r", encoding = 'utf8')
amazon = file2.readlines()
file3 = open("sentiment labelled sentences/sentiment labelled sentences/yelp_labelled.txt", "r", encoding = 'utf8')
yelp = file3.readlines()
print(imdb[0:10])
print("\n")
print(amazon[0:10])
print("\n")
print(yelp[0:10])

['A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  \t0\n', 'Not sure who was more lost - the flat characters or the audience, nearly half of whom walked out.  \t0\n', 'Attempting artiness with black & white and clever camera angles, the movie disappointed - became even more ridiculous - as the acting was poor and the plot and lines almost non-existent.  \t0\n', 'Very little music or anything to speak of.  \t0\n', 'The best scene in the movie was when Gerardo is trying to find a song that keeps running through his head.  \t1\n', "The rest of the movie lacks art, charm, meaning... If it's about emptiness, it works I guess because it's empty.  \t0\n", 'Wasted two hours.  \t0\n', 'Saw the movie today and thought it was a good effort, good messages for kids.  \t1\n', 'A bit predictable.  \t0\n', 'Loved the casting of Jimmy Buffet as the science teacher.  \t1\n']


['So there is no way for me to plug it in here in the US unless I go by a converter.\t0\n', 'Good case, Excellent value.\t1\n', 'Great for the jawbone.\t1\n', 'Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!!\t0\n', 'The mic is great.\t1\n', 'I have to jiggle the plug to get it to line up right to get decent volume.\t0\n', 'If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one.\t0\n', 'If you are Razr owner...you must have this!\t1\n', 'Needless to say, I wasted my money.\t0\n', 'What a waste of money and time!.\t0\n']


['Wow... Loved this place.\t1\n', 'Crust is not good.\t0\n', 'Not tasty and the texture was just nasty.\t0\n', 'Stopped by during the late May bank holiday off Rick Steve recommendation and loved it.\t1\n', 'The selection on the menu was great and so were the prices.\t1\n', 'Now I am getting angry and I want my damn pho.\t0\n', "Honeslty it didn't taste THAT fresh.)\t0\n", 'The potatoes were like rubber and you could tell they had been made up ahead of time being kept under a warmer.\t0\n', 'The fries were great too.\t1\n', 'A great touch.\t1\n']

In [118]:
type(imdb[0])

str

- testing catch the data and label or not

In [159]:
a = imdb[0].rstrip('\n')
score = a[-1]
a = a[0:-1]
text = a.rstrip('\t')
text = text.rstrip()
type(a)

str

In [114]:
a = imdb[0].split('\t')
label_test = a[1].split()
training_data_test = a[0].split('\n')

print(training_data_test)
print(label_test)

['A very, very, very slow-moving, aimless movie about a distressed, drifting young man.  ']
['0']

In [119]:
type(a)

list

In [115]:
type(training_data_test)

list

In [117]:
type(label_test)

list

success!!

In [167]:

data = []
label = []
text = []
for t in range(1000):
    a = imdb[t].rstrip('\n')
    _label = a[-1]
    a = a[0:-1]
    _text = a.rstrip('\t')
    _text = _text.rstrip()
    
    label.append(_label)
    text.append(_text)
    data.append((_text, _label))
    
    
for t in range(1000):
    a = amazon[t].rstrip('\n')
    _label = a[-1]
    a = a[0:-1]
    _text = a.rstrip('\t')
    _text = _text.rstrip()
    label.append(_label)
    text.append(_text)
    data.append((_text, _label))
    
    
for t in range(1000):
    a = yelp[t].rstrip('\n')
    _label = a[-1]
    a = a[0:-1]
    _text = a.rstrip('\t')
    _text = _text.rstrip()
    label.append(_label)
    text.append(_text)
    data.append((_text, _label))

In [161]:
len(text)

3000

In [162]:
label[:10]

['0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [163]:
type(label)

list

In [164]:
type(text)

list

In [168]:
X = pd.DataFrame.from_records(data, columns= ['text', 'score'])

In [169]:
X[:10]

                                                text score
0  A very, very, very slow-moving, aimless movie ...     0
1  Not sure who was more lost - the flat characte...     0
2  Attempting artiness with black & white and cle...     0
3         Very little music or anything to speak of.     0
4  The best scene in the movie was when Gerardo i...     1
5  The rest of the movie lacks art, charm, meanin...     0
6                                  Wasted two hours.     0
7  Saw the movie today and thought it was a good ...     1
8                                 A bit predictable.     0
9  Loved the casting of Jimmy Buffet as the scien...     1

In [170]:
X.isnull()

       text  score
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
5     False  False
6     False  False
7     False  False
8     False  False
9     False  False
10    False  False
11    False  False
12    False  False
13    False  False
14    False  False
15    False  False
16    False  False
17    False  False
18    False  False
19    False  False
20    False  False
21    False  False
22    False  False
23    False  False
24    False  False
25    False  False
26    False  False
27    False  False
28    False  False
29    False  False
...     ...    ...
2970  False  False
2971  False  False
2972  False  False
2973  False  False
2974  False  False
2975  False  False
2976  False  False
2977  False  False
2978  False  False
2979  False  False
2980  False  False
2981  False  False
2982  False  False
2983  False  False
2984  False  False
2985  False  False
2986  False  False
2987  False  False
2988  False  False
2989  False  False
2990  False  False
2991  False  False
2992  False  False
2993  False  False
2994  False  False
2995  False  False
2996  False  False
2997  False  False
2998  False  False
2999  False  False

[3000 rows x 2 columns]

In [83]:
X.isnull().apply(lambda x: dmh.check_missing_values(x))

text     (The amoung of missing records is: , 0)
score    (The amoung of missing records is: , 0)
dtype: object

In [171]:
X.duplicated()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
2970    False
2971    False
2972    False
2973    False
2974    False
2975    False
2976    False
2977    False
2978    False
2979    False
2980    False
2981    False
2982    False
2983    False
2984    False
2985    False
2986    False
2987    False
2988    False
2989    False
2990    False
2991    False
2992    False
2993    False
2994    False
2995    False
2996    False
2997    False
2998    False
2999    False
dtype: bool